.hidden{
  display:none;
}

.paint{
  background-color: gray;
}

#retro{
  font-size: 3rem;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Share Tech Mono', monospace;
}

