
#main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#second{
    color:white;
    background-color: black;
    opacity: 0.1;
}
ul{
    width:300px;
    margin-left: auto;
    margin-right:auto;
}
li{
    
}
