#todo-list{
    width:300px;
    color:white;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Share Tech Mono', monospace;
 
}
#todo-input{
    width:295px;
    height:20px;
    border-radius: 13px;
    border:white 3px solid;
}
button{
    
    font-family: 'Press Start 2P', cursive;
}